/* General variables */
:root {
    --general-container: 400px;
    --border-radius: 15px;
}


/* Fonts used */
.aktiv-grotesk-thin {
    font-family: aktiv-grotesk, sans-serif;
    font-weight: 100;
    font-style: normal;
    color: var(--black);
}

.aktiv-grotesk-regular {
    font-family: aktiv-grotesk, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--black);
}

.aktiv-grotesk-medium {
    font-family: aktiv-grotesk, sans-serif;
    font-weight: 500;
    font-style: normal;
    color: var(--black);
}

.aktiv-grotesk-bold {
    font-family: aktiv-grotesk, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: var(--black);
}

main {
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
    overflow: hidden;
    height: 800px;
}

/* Global border class for checking containers */
.border {
    border: 1px solid black;
}

/* The overall container for each app selection */
.overall-container {
    margin: 110px auto;
    width: 100%;
    border-radius: var(--border-radius);
    position: relative;
}

/* Container for user generator section */
.general-container {
    height: var(--general-container);
    position: relative;
}

.carousel-section {
    width: 75%;
    margin: auto;
    border-radius: var(--border-radius);
    background: rgba( 255, 255, 255, 0.20 );
    backdrop-filter: blur( 3.5px );
    -webkit-backdrop-filter: blur( 3.5px );
    border: 1px solid rgba(255, 255, 255, 0.26);
}

.formTitle {
    margin: 0px;
    text-align: center;
}

.labelUserNumber {
    font-weight: bold;
}

/* form styling, grid-template-columns allows the form elements to show in columns */
.forms {
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 3px;
    column-gap: 100px;
    justify-content: center;
    align-items: center;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonCreateUsers {
    font-weight: bold;
}

.carousel-indicators li{
    height: 13px !important;
    border-radius: 50% !important;
    width: 13px;
}

.indicate-container {
    position: absolute;
    bottom: -70px;
}

.app {
    height: 62%;
}

.description {
   position: absolute;
   bottom: 0px;
   left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto;
    height: 30%; 
    width: 60%;
}

.general-form {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
    top: 0;
}

.close-button {
    width: 20px;
    position: absolute;
    top: 40px;
    right: 40px;
    cursor: pointer;
}

.close-button:hover {
    opacity: 50%;
}